<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        {{/* {{ .Get "title" }} */}}
        Dropdown
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        {{/* {{ .Get "items"}} */}}
        {{ range .Params}}
        <li><a class="dropdown-item" href="{{ . | relURL }}">{{ . }}</a></li>
        {{ end }}
    </ul>
</div>
