<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">This is the second page</h1>
    </div>
</div>

<table id="table" class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Joe</td>
            <td>Schmoe</td>
            <td>@jschmoe</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Forrest</td>
            <td>Gump</td>
            <td>@fgump</td>
        </tr>
    </tbody>
</table>

<form id="table-form">
    <div class="mb-3">
        <label for="firstname" class="form-label">First</label>
        <input type="text" class="form-control" id="firstname">
    </div>
    <div class="mb-3">
        <label for="lastname" class="form-label">Last</label>
        <input type="text" class="form-control" id="lastname">
    </div>
    <div class="mb-3">
        <label for="handle" class="form-label">Last</label>
        <input type="text" class="form-control" id="handle">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
    console.log("hi")
    let form = document.getElementById("table-form")
    form.onsubmit = submit

    function submit(event) {
        let table = document.getElementById("table")
        let row = table.insertRow(-1)
        let id = row.insertCell(0)
        let first = row.insertCell(1)
        let last = row.insertCell(2)
        let handle = row.insertCell(3)
        let count = table.rows.length
        let formfirst = document.getElementById("firstname")
        let formlast = document.getElementById("lastname")
        let formhandle = document.getElementById("handle")
        id.appendChild(document.createTextNode(count - 1))
        first.appendChild(document.createTextNode(firstname.value))
        last.appendChild(document.createTextNode(lastname.value))
        handle.appendChild(document.createTextNode(formhandle.value))

        return false
    }
</script>
